<html>
<head>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js"></script>
	<script type="text/javascript">                                         
		function tweet() {
			var send_data = {id: 1};
			$.getJSON("/main/tweets", send_data, function(data) {
				$("#tweets").append("<p>Tweet from " + data["user"] + ": " + 
														data["tweet_text"] + "</p>");
			});
	  }
	
		$(document).ready(function() {
//		  setTimeout("tweet()", 1 * 1000); //Change back to setInterval
			setInterval("tweet()", 3 * 1000); // Every 30 seconds
		 });
	</script>
</head>
<body>
<p>Hello YAY+TAXES!!!!</p>
<div id="tweets">
</div>
</body>
</html>